<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">About me</h2>
        <hr class="divider light my-4">

        <img class="rounded-circle"
        src="{{site.baseurl}}/img/photography.jpg" width="250px" alt=""/>

        <br></br>
        <p class="text-white-50 mb-4">
            My research involves the analysis of in-situ and remote sensing ocean wave data as well as the use of numerical models to better understand wave dynamycs. I am particularly fascinated by the intricate role of ocean waves in energy transfer, momentum exchange, and mass fluxes between the ocean and the atmosphere.
        </p>

      <div class="container d-flex justify-content-center align-items-center">
        <p class="text-white-50 mb-4" style="text-align: justify;">
          <i class="fas fa-graduation-cap"></i>
          B.Sc. Civil Engineering
          <em class="text-info" style="font-size: 90%">Universidad Nacional de Colombia, Medellín</em> 
          <br>
          <i class="fas fa-graduation-cap"></i>
          M.Eng. Water Resources
          <em class="text-info" style="font-size: 90%">Universidad Nacional de Colombia, Medellín</em> 
          <br>
          <i class="fas fa-graduation-cap"></i>
          M.Sc. Physical Oceanography
          <em class="text-info" style="font-size: 90%">CICESE, Ensenada, México</em> 
          <br>
          <i class="fas fa-graduation-cap"></i>
          PhD. Applied Mathematics
          <em class="text-info" style="font-size: 90%">University College Dublin, Ireland</em> 
          <br>
          <i class="fas fa-graduation-cap"></i>
          PhD. Mathématiques aux interfaces
          <em class="text-info" style="font-size: 90%">Université Paris-Saclay, France</em> 
        </p>
      </div>

        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>
