<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">About me</h2>
        <hr class="divider light my-4">

        <img class="rounded-circle"
        src="{{site.baseurl}}/img/photography.jpg" width="300px" alt=""/>

        <br></br>
        <p class="text-white-50 mb-4">
          I am passionate about the ocean physics, particularly the surface
          waves and their interactions within the air-sea interface. I like to
          play with sensors and instruments to measure the ocean surface waves.
          I am currently studying a PhD at UCD School of Mathematics and
          Statistics.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>
