<!-- Blog Section -->
<section class="page-section" id="blog">
  <div class="container">
    <h2 class="mb-4 text-center">Blog</h2>

    {% for post in site.posts %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
          <p><small class="text-muted">
            {{ post.date | date: '%B %d, %Y'}} </small></p>
          <hr>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
