<!-- Portfolio Section -->
<section id="gallery">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-4 col-sm-6">
        <a href="{{ site.baseurl }}/img/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="{{ site.baseurl }}/img/portfolio/thumbnails/1.jpg" alt="">
        </a>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="{{ site.baseurl }}/img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="{{ site.baseurl }}/img/portfolio/thumbnails/6.jpg" alt="">
        </a>
      </div>
    </div>
  </div>

</section>


