<!-- Blog Section -->
<section class="page-section" id="publications">

  <div class="container post-preview">

    <h2 class="mb-4 text-center">Featured publications</h2>
    <hr class="divider my-4">

    <div class="row d-flex justify-content-center">

      {% for item in site.data.publications limit:4 %}

      <div class="card mb-3" style="max-width: 920px;">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            {% if item.thumbnail %}
              <img class="card-img-left" src="{{ site.baseurl }}/{{ item.thumbnail }}" alt="">
            {% else %}
              <img class="card-img-left" src="{{ site.baseurl }}/img/pubs/default.jpg" alt="">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ item.doi | prepend: "http://doi.org/" }}">{{ item.title }}</a>
              </h4>
              <ul class=bibliography-author>
              {% for author in item.author %}
                {% if author == item.author.last %}
                  <li class="last-author">{{ author }}</li>
                {% else %}
                  <li>{{ author }}</li>
                {% endif %}
              {% endfor %}
              </ul>
              <p class=bibliography-journal>{{ item.journal }}, {{ item.year }}</p>

              {% if item.preprint %}
                <a href="{{ item.preprint | prepend: site.baseurl }}"
                class="btn btn-light">Preprint</a>
              {% else %}
                <a href="{{ item.preprint | prepend: site.baseurl }}"
                class="btn btn-light disabled">Preprint</a>
              {% endif %}

              <a href="{{ item.doi | prepend: "http://doi.org/" }}"
              class="btn btn-light">Link</a>

              <a href="{{ item.doi | prepend: "https://api.crossref.org/works/" | append: "/transform/application/x-bibtex"}}"
              class="btn btn-light">Bibtex</a>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="col-md-12 text-center">
        <a class="btn btn-dark btn-xl"
          href="{{ site.baseurl }}/pages/publications-list.html">
          See more...
        </a>
      </div>

    </div>

    <!-- Pagination links -->
    <!--here-->

  </div>
</section>
