---
layout: default
---

<!-- Alternative Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}/index.html">
      <i class="fas fa-arrow-left"></i> Back
    </a>
  </div>
</nav>

<!-- Blog Header -->
<div class="blog-header page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">{{ page.title }}</h2>
    <hr class="divider light my-4">
    <img class="logo" src="{{ site.baseurl }}/img/logo.png" alt=""/>
    <p class="mt-2 mb-1 text-light">{{ page.author }}</p>
    <small class="mb-2 text-white">
      <i class="far fa-clock"></i> {{ page.date | date: '%B %d, %Y' }}
    </small>
  </div>
</div>

<div class="container">
  <div class="blog-body">
    {{ content }}
  </div>
</div>
